{{ define "menu" }}
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="https://killedthis.top">Home</a></li>
            <li>
                <a href="#">About</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="#">About</a>
                            <div class="uk-dropbar uk-dropbar-top" uk-drop="stretch: x; mode: click">
                                <div class="uk-card uk-card-hover">
                                    <div class="uk-card-header">
                                        <h3 class="uk-card-title"><img src="img/favicon.svg" style="height:64px;"/>Killedthis
                                        </h3>
                                    </div>
                                    <div class="uk-card-body">
                                        <p>Killedthis, is a service that lists canceled shows and services from popular
                                            providers.</p>
                                    </div>
                                    <div class="uk-card-footer">Have Fun</div>
                                </div>
                            </div>
                        </li>
                        <li><a href="https://github.com/killedthis/be.killedthis.top">Github</a></li>
                    </ul>
                </div>
            </li>
            {{ range $site := .Sites }}
            <li><a href="https://{{ $site }}.killedthis.top">{{ $site }} </a></li>
            {{ end }}
        </ul>
    </div>
</nav>
{{ end }}